.title-crud {
  display: flex;
  justify-content: center;
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
}

.tabela-descricao .tooltip-text {
  position: relative;
  cursor: pointer;
  color: #007bff;
}

.tabela-descricao .tooltip-content {
  visibility: hidden;
  max-width: 400px;
  background-color: #333;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 10px;
  position: fixed !important;
  z-index: 99999 !important;
  bottom: auto !important;
  top: 100px !important;
  left: 50% !important;
  transform: translateX(-50%);
  margin-bottom: 8px;
  opacity: 0;
  transition: opacity 0.3s;
  word-wrap: break-word;
  white-space: normal;
  max-height: 300px;
  overflow-y: auto;
}
.tabela-descricao .tooltip-text:hover .tooltip-content {
  visibility: visible;
  opacity: 1;
}

.btn-table {
  color: #687eff;
  padding: 5px;
  font-size: 15px;
  border-radius: 25px;
  border: none;
  background-color: #fff;
}
  
.table-responsive {
  width: 100%;
  overflow-x: auto;
}

th {
  padding: 10px;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  background: #687eff;
}

td {
  text-align: center;
  vertical-align: middle;
  font-weight: 700;
  font-size: 14px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.5);
}
